@import "../../global.scss";

.menu{
    width: 200px;
    height: 100vh;
    background-color:$maincolor;
    //opacity: 20%;
    position: fixed;
    top: 0;
    //padding-bottom: 100px;
    right: -200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 1s ease;

    &.active{
        right:0;
    }
    ul{
        margin:0;
        padding: 0;
        list-style: none;
        font-size: 25px;
        font-weight: 300;
        color: white;
        //opacity: 100%;
        width: 80%;
        li{
            margin: 25px;
            a {
                opacity: 100%;
                font-size: inherit;
                color: inherit;
                text-decoration: none;
            }
            &:hover{
                font-weight: 500;
                //opacity: 100%;

            }
        }
    }
}