@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;

}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.heading {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  color: $maincolor;
}

.row {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.col {
  border: 1px solid red;

}

.inside {
  justify-content: space-around;
  align-items: center;

}
/*
div * {
  border: 1px solid red;
}


 */