@import "../../mixins.scss";
.Section {
  display: flex;
  background-color: whitesmoke;
  width: 100%;
  height: calc(100vh - 100px);
}
* {
  //border: 1px solid red;
}
.slide-section {
  display: flex;
  //padding-top: 100px;
  width: 100%;
  height: 100%;
  align-items: center;
  //justify-content: center;
  //margin-top: 100px;
}
.swiperCarousel {
  display: flex;
  width: 90%;
  height: 100%;
  margin: auto;
}
.swiper-button-next,
.swiper-button-prev {
  color: #252a36 !important;
}
.swiper-pagination-bullet {
  background: $MidBlue !important;
}
.slide-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.title-section {
  position: absolute;
  top: 0;
  margin-top: 20px;
  font-family: "Source Code Pro", monospace;
  color: $MidBlue;
  font-size: 48px;
  font-weight: 600px;
  padding: 25px;
}
.icon-section {
  display: flex;
  flex-flow: row wrap;
  //flex-grow: 1;
  justify-content: center;
}
.stack-icons {
  display: flex;
  font-size: 72px;
  //max-height: 80px;
  padding: 10px;
  margin: 50px;
  @include md {
    font-size: 50px;
  }
  @include sm-down {
    font-size: 25px;
    margin: 5px;
    padding: 5px;
  }
}
.project-texts-wrapper {
  //margin-top: auto;
  //padding: 10px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  @include sm-down {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
}
.project-card {
  margin: 10px;
  padding: 10px;
  width: 33%;
  @include sm-down {
    width: 90%;
    
  }
}
.proj-card-title {
  font-family: "Source Code Pro", monospace;
  color: $MidBlue;
  font-size: 30px;
  font-weight: 600px;
  text-align: center;
  user-select: none;
  justify-content: center;
  @include sm-down {
    font-size: 16px;
  }
}
.proj-card-typed {
  margin-top: 10px;
  font-family: "Source Code Pro", monospace;
  color: $Oranges;
  font-size: 30px;
  font-weight: 600px;
  text-align: center;
  user-select: none;
  justify-content: center;
  @include sm-down {
    font-size: 16px;
  }
}
