$maincolor: #15023a;

.fullwidth{
  width: 100%;
}

.fullheight{
  height: 100%;
}

.ma-1{
  margin: 4px;
}

.ma-2{
  margin: 8px;
}
.ma-3{
  margin: 12px;
}
.ma-4{
  margin: 16px;
}
.ma-5{
  margin: 20px;
}
.pa-1{
  padding: 4px;
}
.pa-2{
  padding: 8px;
}
.pa-3{
  padding: 12px;
}
.pa-4{
  padding: 16px;
}
.pa-5{
   padding: 20px;
 }